p{
    font-weight: bold;
    font-size: 36px;
    font-family: 'DotGothic16', sans-serif;
    font-style: italic;
    text-align: center;
    color:cyan;
    vertical-align: center;
}
.minecraft{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}